{% comment %} Terms and Conditions {% endcomment %}
<div>
    <h2>
        {{ shop.terms_of_service.title }}
    </h2>
    {{ shop.terms_of_service.body }}
    <h2>
        {{ shop.privacy_policy.title }}
    </h2>
    {{ shop.privacy_policy.body }}
    <h2>
        {{ shop.shipping_policy.title }}
    </h2>
    {{ shop.shipping_policy.body }}
    <h2>
        {{ shop.refund_policy.title }}
    </h2>
    {{ shop.refund_policy.body }}
</div>
